body, h1, h2, h3, h4, h5, h6 {
	font-family: '微软雅黑';
}

.page-title, .dropdown-menu, 
.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a,
.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
    font-family: '微软雅黑';
}

.page-header.navbar .page-logo {
	width: 400px;
}

.page-header.navbar .page-logo .logo-default {
	margin: 2px 0;
}


.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}